extends ../layout/index

block contenido
    div.py-10.bd-segundo
        h1.text-center.font-extrabold.my-10.text-4xl.text-indigo-600 Bienvenido a 
            span.font-normal.text-black Bienes Raíces
        h2.text-center.font-extrabold.text-2xl=page

         if errors 
            div(class="max-w-md mx-auto my-10 divide-dashed")
                    each error in errors 
                        p.bg-red-600.text-blanco.uppercase.text-xs.text-center.p-2.mb-1.border-hidden.animate-pulse= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-tercero.py-8.px-4.shadow-lg.rounded-lg

                form( method="POST" novalidate).space-y-6.px-6
                input(type="hidden" name="_csrf" value=csrfToken)

                form(action="/auth/newUser" method="POST").space-y-6.px-6
                    input(type="hidden" name="_csrf" value=csrfToken
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Email: 
                        input#email.w-full.px-3.py-2.border-2.border-gray-300.rounded-md(type="email" placeholder="Ej. usuario@dominio.com" name="correo_usuario" required)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Contraseña: 
                        input#password.w-full.px-3.py-2.border-2.border-gray-300.rounded-md(type="password" placeholder="Mínimo 8 caracteres" name="pass_usuario" required minlength="8")
                    div.flex.items-center.justify-between.mt-4
                        a.text-gray-500.text-xs(href="/auth/createAccount" class="hover:underline decoration-2 hover:decoration-red-600") Crear cuenta nueva
                        a.text-gray-500.text-xs(href="/auth/passwordRecovery" class="hover:underline decoration-2 hover:decoration-red-600") Olvidé mi contraseña
                    div.flex.flex-col.space-y-2.mt-4
                        input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer rounded-md transition-transform duration-200 transform hover:scale-105" type="submit" value="Ingresar")
                        button(class="w-full bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold py-3 cursor-pointer rounded-md transition-transform duration-200 transform hover:scale-105" type="button" onclick="window.location.href='/auth/loginGoogle'") Ingresar con Google
