doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raíces | 230809 | #{page}
        link(rel="stylesheet", href="/css/app.css")
    body(style="background-color: #2e626a;") 
        main(class="mx-auto container mt-10 px-2",style="background-color: #75a9b1;")
            block contenido